body{
    margin:0;
    min-height:1200px;
    font-family:"Abril Fatface",cursive
} 
main{
    margin-top:20px
} 
section{ 
    margin-top:280px;
    height:180px;
    background:white;
    opacity:0.85
} 
.hero{ 
    background-color:#2a607c;
    opacity:0.85;
    height:180px;
    padding-top:25px
} 
h1{
    color: #F08800;
    text-align:center;
    font-size:5.2em;
    font-weight:bold
} 
h2{ 
    color: #F08800;
    text-align:center;
    font-size:2.2em;
    margin-bottom:50px
} 
h3{
    color:#F08800;
    font-size:2.2em;
    text-align:center;
    font-weight:bold
} 
.fa-glass-martini{
    margin-left:10px
} 
#moodButton{
    color: #F08800;
    background-color:#2a607c;
    height:55px;
    border-radius:5px;
    border:2px solid rgba(0,0,0,0.7);
    margin:5px 0 40px 0;
    font-size:1.9em;
    font-weight:bold
} 
#shakebutton{
    color: #F08800;
    background-color:#2a607c;
    height:40px;
    border-radius:5px;
    border:2px solid rgba(0,0,0,0.7);
    font-size:1.5em;
    font-weight:bold;
    margin-left:3px
}  
input{
    height:40px;
    border-radius:5px;
    border:2px solid rgba(0,0,0,0.7)
} 
.displayCocktail{ 
    background:#fff;
    opacity:0.85
} 
.drinkThumb{
    height:280px;
    width:265px;
    border-radius:3px
} 
.displayCocktail{
    padding:25px 0 25px 0
} 
.cocktailName{
    font-weight:bold;
    font-size:1.5em
} 
.howToMake,.typeOfglass{
    font-weight:bold;
    font-size:1.2em 
}
